BOT_TOKEN=your_telegram_bot_token_here
PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/financial_db?schema=public"
DB_PASSWORD=your_db_password_here
PROXY_URL=socks5h://127.0.0.1:7897   # optional, remove if not needed
